*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    background: rgb(61, 14, 14);
}
.contiene{
    display: flex;
    width: 100%;
    padding: 20px;
}
.contener{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 300px;
    border-radius: 20px;
    background: rgb(80, 21, 21);
    border: 10px solid #7e4b4b79;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(48, 12, 12, 0.6),
    inset -5px -5px 15px rgba(97, 50, 50, 0.1),
    inset 8px 8px 15px rgba(48, 12, 12, 0.6)
    ;
    overflow: hidden;
}

.contener img{
    display: flex;
    position: relative;
    top: 10px;
    right: 5px;
    width: 150%;
}

.datos{
    position: relative;
    margin-left: 40px;
    display: flex;
    width: 75%;
    height: 300px;
    border-radius: 20px;
    background: rgb(80, 21, 21);
    border: 10px solid #7e4b4b79;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(48, 12, 12, 0.6),
    inset -5px -5px 15px rgba(97, 50, 50, 0.1),
    inset 8px 8px 15px rgba(48, 12, 12, 0.6)
    ;
    padding: 20px;
}

.datos h1{
    display: flex;
    position: relative;
    color: rgb(164, 174, 182);
    margin-left: 15px;
}
